
@media (min-width: 540px){

	body{
		width: auto;
		margin: 0 0;
		height: 1200px;
		text-align: center;
		max-width: 1000px;
		position: absolute;
		background: white;
	}
	.div1{
		display: flex;
		width: 100%;
		height: 20%;
		background: white;
		margin: 0 100px 30px 100px;
	}
	.div2{
		margin: 0 0 30px 0;
		display: flex;
		width: 100%;
		height: 25%;
		background-color: #C0C0C0;
	}
	.div3{
		width: 100%;
		height: 60%;
		background: white;
	}
	.img{
		position: absolute;
		width: 40px;
		height: 40px;
		margin: 20px -10px;
		mix-blend-mode: multiply;
	}
	hr{
		width: 100%;
	}
	.sitebar{
		font-size: 1.7em;
	}
	.a{
		margin: 0 0 0 10px;
		color: black;
		text-decoration: none;
		cursor: pointer;
		transition: 0.3s ease-out;
	}
	.a:hover{
		background-color: red;
		color: white;
	}
	.small{
		font-size: 0.7em;

	}
	.small1{
		font-size: 0.7em;
		margin-left: auto;
		margin-right: 400px;
	}
	.bear{
		width: 30%;
		height: 30%;
		position: absolute;
		margin: -200px 100px;
		z-index: 4;
	}
	.hid{
		display: none;
	}
	.dih{
		display: block;
	}

}

@media (max-width: 540px){
	.hid{
		display: block;
	}
	.dih{
		display: none;
	}

	body{
		margin: 0 50%;
		width: auto;
		height: 1200px;
		text-align: center;
		max-width: 1000px;
		position: absolute;
		background: white;
	}
	.div1{
		width: 100%;
		height: 20%;
		background: white;
		margin: 0 100px 30px 100px;
	}
	.div2{
		margin: 0 100px 30px 100px;
		display: flex;
		width: 100%;
		height: 25%;
		background-color: #C0C0C0;
	}
	.div3{
		display: flex;
		width: 100%;
		height: 60%;
		background: white;
	}
	.img{
		width: 40px;
		height: 40px;
		margin: 10px;
		mix-blend-mode: multiply;
	}
	.ing{
		width: 10%;
		height: 10%;
		margin: 10px;
		mix-blend-mode: multiply;
	}
	.hr{
		width: 100%;
	}
	.sitebar{
		font-size: 1.7em;
		display: inline-block;
	}
	.a{
		margin: 0 0 0 10px;
		color: black;
		text-decoration: none;
		cursor: pointer;
		transition: 0.3s ease-out;
	}
	.a:hover{
		background-color: red;
		color: white;
	}
	.small{
		font-size: 0.7em;

	}
	.small1{
		font-size: 0.7em;
		margin-left: auto;
		margin-right: 400px;
	}
	.bear{
		width: 25%;
		height: 30%;
		position: absolute;
		margin: -200px 200px;
		z-index: 4;
	}

}
.comment{
	margin: 0 0 0 100px;
	display: grid;
	grid-template-columns: 0.1fr 1fr;
}
.review{
	margin: 10px;
	width: 200px;
	height: 220px;
	border: 1px solid black;
}
.reviewer{
	box-shadow: 5px 5px 5px gray;
	margin: 10px;
	width: 200px;
	height: 110px;
	border: 1px solid black;
}
.logos{
	margin: 0 150px 0 0;
	display: grid;
}
.column{
	display: grid;
	grid-template-columns: 1fr 0.1fr;
}
.top5{
	color: red;
	text-align: left;
	width: 150px;
	height: 20px;
	font-size: 1.5em;
}
.hua{
	width: 70%;
	height: 70%;
}
.inst{
	width: 30%;
	height: 80%;
}
.corsac{
	line-height: 0.5;
	width: 100%;
	height: 20%;
	margin: 10px;
}
.logotext{
	display: flex;
    justify-content: flex-start;
    align-items: center;
	top: 50%;
	margin: 5px 10px;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}
.ecco{
	width: 60%;
	height: 60%;
}
.chunk{
	width: 50%;
	height: 10%;
	font-size: 0.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.chunk2{
	margin: 0 5px;
	display: flex;
	flex-flow: row wrap;
}
.cop{
	margin: 0 10px;
	display: grid;
	grid-template-columns: auto auto auto;
}
.comtext{
	margin: 0 10px;
	font-size: 0.45em;
}
.comfooter{
	font-size: 0.5em;
	display: grid;
	grid-template-columns: 1fr 1fr 1.1fr;
}

.tag{
	font-size: 0.5em;
	margin:0 2px;
	color: gray;
}
#but{
	margin: 0 0 0 10px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s ease-out;
}
#but:hover{
	background-color: red;
	color: white;
}
.div11{
	display: grid;
}
.wm{
	width: 60%; 
	margin: 0 20px;
}
.span_review{
	margin: 0 0 0 10px;
}
.cub{
	position: absolute; 
	z-index: 3; 
	margin: -150px 170px;
}
.div22{
	margin: 20px 0 50px 120px;
}
.main_text{
	color: gray; 
	font-size: 0.5em;
}
.block1{
	height: 40%; 
	width: 100%;
}
.block2{
	height: 60%; 
	width: 100%; 
	background-color: white; 
	color: black;
}
.block2_text{
	font-size: 0.7em;
	margin: 0 10% 0; 
	display: grid; 
	grid-template-columns: 1fr 1fr;
	color: gray;
}
.block11{
	height: 40%; 
	width: 100%;
	background-color: gray;
}

@media(max-width: 540px){
	body{
		margin: 0 50%;
		width: auto;
	}
	#menu__toggle {
	  opacity: 0;
	}
	/* стилизуем кнопку */
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: fixed;
	  top: 20px;
	  left: 20px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 1;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #616161;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}
	/* контейнер меню */
	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  left: -100%;
	  width: 20%;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  text-align: center;
	  background-color: #ECEFF1;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #333;
	  font-family: 'Roboto', sans-serif;
	  font-size: 20px;
	  font-weight: 600;
	  text-decoration: none;
	}
	.menu__item:hover {
	  background-color: #CFD8DC;
	}
	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  transition-duration: .25s;
	}
	.menu__box {
	  transition-duration: .25s;
	}
	.menu__item {
	  transition-duration: .25s;
	}
}
